#App {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@media only screen and (max-width: 699px) {
    #App {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/images/mobile-background.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 700px) {
    #App {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/images/1280x1024-background.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1281px) {
    #App {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/images/1920x1440-background.jpeg");
    }
    #hire {
        top: 60vh;
    }
}

@media only screen and (min-width: 1921px) {
    #App {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/images/2560x1440-background.jpeg");
    }
}

@media only screen and (min-width: 2561px) {
    #App {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/images/3840x1440-background.jpeg");
    }
}