#git {
    color: #f05033;
}

#html5 {
    color: #e44d26;
}

#css3 {
    color: #25a6d7;
}

#javascript {
    color: #f7df1e;
}

#react {
    color: #41e0fd;
}

#nodejs {
    color: #5fa04e;
}

.icon-col {
    display: flex;
    justify-content: center;
}

.icon {
    max-width: 60px;
    max-height: 45px;
    font-size: 3rem;
    color: whitesmoke;
}

@media only screen and (max-width: 699px) {
    #icons {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem 0;
    }
    .icon {
        width: 30px;
        height: 30px;
        margin: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .icon {
        margin: 0.4rem;
    }
}

@media only screen and (min-width: 700px) {
    #icons {
        position: absolute;
        margin: 0;
        top: 92.5vh;
        width: 100%;
    }
    #row1-icons,
    #row2-icons {
        width: 50%;
    }
}