#Portfolio {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 50px;
    left: 50vw;
    margin-left: -47.5vw;
    height: 85vh;
    width: 95vw;
    overflow-y: scroll;
}

#labels {
    margin: 0;
    padding: 0;
    display: flex;
    width: 95vw;
    height: 50px;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.skill-tag {
    border: 0;
    width: 100%;
    color: #504F54;
}

.skill-tag:hover {
    background-color: white;
    transition: 0.4s;
}

button:active {
    border: 0;
    outline: 0;
}

button:focus {
    border: 0;
    outline: 0;
}

div.card-columns {
    position: absolute;
    top: 60px;
    height: auto;
}

p.card-text {
    color: gray;
    text-align: center;
}

div.card-title {
    text-align: center;
}

div.card-footer {
    text-align: center
}