#Portfolio {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 100px;
    width: 100%;
    height: auto;
}

#labels {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
    position: fixed;
    top: 50px;
    z-index: 2;
}

.skill-tag {
    border: 0;
    width: 100%;
    color: #504F54;
    background-color: whitesmoke;
}

.skill-tag:hover {
    background-color: white;
    transition: 0.4s;
}

button:active {
    border: 0;
    outline: 0;
}

button:focus {
    border: 0;
    outline: 0;
}

p.card-text {
    color: gray;
    text-align: center;
}

div.card-title {
    text-align: center;
}

div.card-footer {
    text-align: center
}

@media only screen and (max-width: 815px) {
    #Portfolio {
        top: 140px;
    }
    #labels {
        overflow-y: scroll;
        display: block;
        height: 100px;
    }
    .skill-tag {
        height: 40px;
    }
}