@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .serious-button {
        @apply bg-gray-500
        font-semibold
        text-xs
        lg:text-base
        text-white
        p-3
        mt-12
        rounded-sm
        hover:text-gray-500
        hover:bg-white
        transition-colors;
    }
}
